button {
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

button:focus,
input:focus {
  outline: 0;
}

html {
  scroll-behavior: smooth;
}


body {
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
}

section {
  height: 100vh;
}


.skew {
  transform: skew(-20deg);
}

.un-skew {
  transform: skew(20deg);
}

#nav-wrapper {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#nav {
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-family: "Saira Semi Condensed", sans-serif;
  height: 4em;
  overflow: hidden;
}

#nav.nav-visible {
  height: 100%;
  overflow: auto;
}

.nav {
  display: flex;
  height: 4em;
  line-height: 4em;
  flex-grow: 1;
}

.nav-link,
.logo {
  padding: 0 1em;
}

span.gradient {
  background: #286eaf;
  background: -webkit-linear-gradient(45deg, #286eaf, #5bb0ff);
  background: linear-gradient(45deg, #286eaf, #5bb0ff);
  padding: 0 1em;
  position: relative;
  right: 1em;
  margin-right: auto;
}

span.gradient:hover {
  animation-name: logo-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
}

h1.logo {
  font-weight: 300;
  font-size: 1.75em;
  line-height: 0.75em;
  color: #fff;
}

h1.logo a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: #fff;
}

.nav-link {
  text-transform: uppercase;
  text-align: center;
  border-top: 0.5px solid #ddd;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #5bb0ff;
}

a:hover {
  text-decoration: underline;
}

.right {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn-nav {
  color: #f857a8;
  padding-left: 2em;
  padding-right: 2em;
}

@media (min-width: 800px) {
  #nav-wrapper {
    overflow: hidden;
  }

  #nav {
    overflow: hidden;
    flex-direction: row;
  }

  .nav-link {
    border-top: none;
  }

  .right {
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    left: 1.5em;
    height: auto;
  }

  .btn-nav {
    display: none;
  }

  .nav a:link.active,
  a:visited.active,
  a:active.active {
    background: #286eaf;
    background: -webkit-linear-gradient(45deg, #286eaf, #5bb0ff);
    background: linear-gradient(45deg, #286eaf, #5bb0ff);
    color: #fff;
  }

  .nav-link-span {
    transform: skew(20deg);
    display: inline-block;
  }

  .nav-link {
    transform: skew(-20deg);
    color: #777;
    text-decoration: none;
  }

  .nav-link:last-child {
    padding-right: 3em;
  }

  a:hover.nav-link:not(.active) {
    color: #444;
    background: #ddd;
    background: linear-gradient(45deg, #fff, #ddd);
  }
}

@keyframes logo-hover {
  20% {
    padding-right: 0em;
  }

  100% {
    padding-right: 5em;
  }
}

body {

  margin: 0px;
}


.c-card {
  padding: 1rem;
  margin: 2rem;
  color: #ffffff;
  background-color: #286eaf;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 220px;
  height: 260px;
  float: left;
}

.cards-part {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-fist {
  margin-top: 75px;
}

.esqueda {
  margin-left: 42px;
}

h3 {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: monospace;
  font-size: 65px;
}

p {
  font-family: monospace;
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
}

header {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 1rem;
  width: 100px;
  height: 100px;
}

.c-card h2 {
  padding: 0.5rem;
  font-size: 1.5rem;
}

h5 {
  opacity: 0.5;
}


#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  grid-auto-flow: dense;
  grid-column-gap: .5em;
  grid-row-gap: .5em;

}

#grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.span-2 {
  grid-column-end: span 1;
  grid-row-end: span 2;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: 150px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 25px;
  margin-left: 25px;
  font-family: monospace;
}

.button-85:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
